.wrpBadge{
    border-radius: 6px !important;
    padding: 4px 8px;
    color: #292839;
    margin-right: 5px;
    height: 24px;
    
}


@media (max-width:476px){
    .wrpBadge{
        margin-bottom: 10px;
        margin-top: 15px;
    }
}